.container {
    margin: 0 auto;
    width: 300px;
    height: 370px;
    border: 1px solid #33CCFF;
    box-shadow: 0 0 4px #33CCFF inset;
}
input#screen {
    margin: 6px 6px;
    height: 88px;
    width: 288px;
    font-size: 30px;
    text-align: left;
    background-color: #33cccc;
}
table {
    margin: 0 auto;
    margin-top: 18px;
}
input {   
    width: 64px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #33CCFF;
    background-color: #33cccc;
}
input.combine {
    width: 136px;
}